{% extends 'NovuscomCMFBundle:Default:admin.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col col-md-6">
            <div class="box">
                <div class="box-header">
                    <h1 class="box-title">Новый пункт меню</h1>
                </div>
                <div class="box-body">
                    {{ form(form) }}
                </div>
                <div class="box-footer">
                    <a class="btn btn-info" href="{{ path('admin_menu_show', {'site_id':site.id, 'id':menu.id}) }}">
                       <i class="glyphicon glyphicon-list"></i> Меню</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
