{% extends 'NovuscomCMFBundle:Default:admin.html.twig' %}

{% block body -%}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Обновление</h3>
        </div>
        <div class="box-body">
            <button data-toggle="modal" data-target="#myModal" data-backdrop="static" class="btn btn-success update-cms"
                    data-href="{{ path('admin_system_upgrade') }}">
                <span class="text">Обновление платформы</span> <i class="glyphicon glyphicon-play"></i></button>
        </div>
        <div class="box-footer">

        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>#}
                    <h4 class="modal-title" id="myModalLabel">Обновление системы</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info">Идет обновление...</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default hidden" data-dismiss="modal">Ок</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.update-cms').prop('disabled', false);
            $(document).on('click', '.update-cms', function (e) {
                e.preventDefault();
                $(this).prop('disabled', true);
                $.post($(this).attr('data-href'), {}, function (r) {
                    var result = true;
                    $.each(r, function (i, o) {
                        if (o['result'] != 0) {
                            result = false;
                            return false;
                        }
                    });
                    var text = '<div class="alert alert-danger">Ошибка обновления</div>';
                    if (result) {
                        text = '<div class="alert alert-success">Система обновлена</div>';
                    }
                    $('#myModal .modal-body').html(text);
                    $('[data-dismiss="modal"]').removeClass('hidden');
                })
            });
        })
    </script>
{% endblock %}