{% extends 'NovuscomCMFBundle:Default:admin.html.twig' %}




{% block body -%}
    <div class="box">
        <div class="box-content">
            <div class="box-header">
                <h4 class="box-title">Создание инфоблока</h4>
            </div>
            <div class="box-body">
                {{ form(form) }}
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col col-xs-12 col-md-6">
                        <a class="btn btn-info" href="{{ path('admin_block') }}">
                            <i class="glyphicon glyphicon-list"></i>
                            список инфоблоков
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </div>


{% endblock %}
