{% extends 'NovuscomCMFBundle:Default:admin.html.twig' %}
{% block body -%}
    <div class="box">
        <div class="box-header">
            <h4 class="box-title">Создание страницы</h4>
        </div>

        <div class="box-body">
            {{ form(form) }}
        </div>
        <div class="box-footer">
            <a class="btn btn-info"
               href="{{ path('cmf_admin_site_pages', {'site_id':app.request.get('site_id')}) }}">
                Список страниц
            </a>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ elfinder_tinymce_init4('tinymce') }}
    {{ tinymce_init({'theme': {
        'simple': {
            content_css: [
            '/templates/'~site.code~'/css/template_styles.css',
            '/admin/dist/css/tinymce.css'
            ],
            body_class: 'tinymce_body'
        }
    }}) }}
{% endblock %}
