{% block content %}
	{% if items is not empty %}

		<ul class="breadcrumb">
			{% for item in items %}
				<li class="breadcrumb__item">
					{% if (loop.last) %}
						{#{{ item.name }}#}
					{% else %}
						<a class="breadcrumb__link" href="{{ item.url }}">{{ item.name }}</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>

	{% endif %}
{% endblock %}
