<!DOCTYPE html>
<html lang="ru-ru">
<head>
	<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
	<meta charset="utf-8">
	<title>404 ошибка &mdash; страница не найдена</title>
</head>
<body>
<div class="container">
	<h1 class="text-xs-center">Ошибка 404 &mdash; страница не найдена</h1>
	{{ message }}
</div>
</body>
</html>