<!DOCTYPE html>
<html lang="ru-ru">
<head>
	<link rel="stylesheet" href="https://yastatic.net/bootstrap/3.3.6/css/bootstrap.min.css">
	<meta charset="utf-8">
	<title>{{ title }}</title>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			
		</div>
		<div class="col-md-9">
			{#{{ crumbs() }}#}
			{% block header %} <h1>{{ header }}</h1>{% endblock %}
			{% block content %} {% endblock %}
		</div>
	</div>

</div>
</body>
</html>