{% extends 'NovuscomCMFBundle:Default:admin.html.twig' %}

{% block body -%}
    <div class="box">
        <div class="box-header">
            <h4 class="box-title">Создание маршрута</h4>
        </div>
        <div class="box-body">
            {{ form(form) }}
            <ul>
                <li>NovuscomCMFBundle:Component:Section</li>
                <li>NovuscomCMFBundle:Component:Element</li>
                <li>NovuscomCMFBundle:Component:ElementsList</li>
            </ul>
        </div>
        <div class="box-footer">
            <ul class="list-unstyled">
                <li>
                    <a href="{{ path('admin_route') }}" class="btn btn-info">
                        К списку
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
