<h3>Вы зарегистрированы на сайте</h3>

<p>Привет, {{ name }}</p>
<p>Для подтверждения регистрации, <a href="{{ url }}">перейдите по ссылке</a>.</p>
<p>Или скопируйте в адресную строку браузера ссылку {{ url }} и нажмите enter.</p>



