<h3>Вы зарегистрированы на сайте</h3>

<p>Привет, {{ name }}</p>
<p>Для подтверждения регистрации, перейдите по ссылке: <a href="{{ url }}">Новая ссылка</a>.</p>
<p>Для подтверждения регистрации, перейдите по ссылке: <a href="http://stroyshop.moscow/registration/confirm/{{ token }}/">Link</a>.</p>



